/* nav_item */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.Name{
    font-weight: 800;
    font-size: 45px;
}
.color{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.dark-2{
    color: #474747;
    font-size: 20px;
}
.btn-primary{
    background-color:#FD6E0A ;
    color: white;
    font-size: 20px;
    padding: 18px 36px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
   
}
.greetings{
    font-size: 45px;
    font-weight: 600;
}
.Hardy{
    font-size: 85px;
    font-weight: bold;
}
.banner-discription{
    font-size: 18;
}
.header{
    background-image: url("/images/developer.png"),url("/images/header_bg.png") ;
    background-repeat: no-repeat;
    background-position: top left, right bottom;
    margin: 50px;
    
}
.section-tittle{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    margin-top: 130px;
    text-align: center;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.item-tittle{
    font-size: 20px;
}
.item-tittles{
    font-size: 20px;
    font-weight: bold;
   
}
.about_items{
    display: flex;
    justify-content: space-around;
}